
.showonHomeMain{
    
    margin-left: 80px;
    margin-right: 80px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


      display: grid;
      grid-template-columns: repeat(4, 0fr);
      grid-auto-flow: row; 

   
}

.showonHome{
    padding: 5px;
    margin: 10px;
    border: 1px solid rgb(217, 215, 215);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    /* height:17p ; */
    border-radius: 5px;
    line-height: 0px;

}
.homephoto{
    width: 10vw;
    border-radius: 0px;
    /* height: 170px; */
    /* border: 1px solid black; */

    aspect-ratio: 2/2;
}
.homephoto:hover{
    transform: scale(1);
}
.showonHome>h1{
    font-size: 3vmin;
    margin-left: 5px;
}
.showonHome>p{
    font-size: 2vmin;
}
.price{
    color: blue;
}

#cartBuybtn{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 1vw;
    font-size: 3vmin;
    /* border: 1px solid red; */
    height:auto;
    width: 6vw; 
}
#cartBuybtn>button{
    /* background-color: #fcc300; */
    font-size: 2vmin;
    border-radius: 50px;
    border: 1px solid rgba(175, 175, 175, 0.268);
    padding: 5px;
    height: 3.5vmin;
}
#cartBuybtn>button:hover{
    background-color: #fcc300;
}




/*-------------showmore-----------*/
.showonHomeMain {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 330px; /* Adjust the height as needed */
}

.view-more-button {
  display: block;
  border-radius: 100px;
  
  margin-left: 700px;
  text-align: center;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
.view-cart-items{
    /* display: block; */
    margin-top: 10px;
    
    border-radius: 100px;
    
    /* margin-left: 700px; */
    text-align: center;
    padding: 10px;
    background-color: #fcc300;
    background-color: #007bff;
    color: #fff;
   
    cursor: pointer;
}


/*-------------cartItemList---------------------*/
.mainCartItemList{
    margin: 0 auto;
    border: 1px solid rgba(130, 124, 124, 0.293);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    border-radius: 10px;
}
.cartItemList{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgba(130, 124, 124, 0.293);
    margin: 10px;
    width: 40vw;
}
.remove{
    color: red;
}
.cartItemList>img{
    width: 10vmin;
    
}
.checkoutPannel{
    margin: 0 auto;
    border: 1px solid black;
    width: 30%;
    border-radius: 5px;
    border: 1px solid rgba(130, 124, 124, 0.293);
    padding: 20px;
    background-color: rgba(238, 235, 231, 0.511);

    
}
.checkoutPannel>p{
    font-size: 2.5vmin;
}
.checkoutPannel>button{
   
    
    background-color: #fcc300;
    padding: 10px;
    border-radius: 5px;
}