.shop-page{
    width: 90%;
    /* border: 2px solid black; */
    margin: 0 auto;
    height: auto;
}

.shop-image-container{
   width: 90%;
   margin: 0 auto;
   height:auto;
   background-color: rgb(244, 215, 161);
   border-radius:28px;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-around;
}
.shop-image{
  width:30%;
}
.shop-heading{
   display: flex;
   flex-direction: column;
   justify-content: center;
   line-height: 1;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0px 20px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background: white;
  border-radius: 20px;
}
.search-bar input{
  border: none;
  outline: none;
}

.search-icon {
  color: #888;
  font-size: 16px;
  margin-right: 8px; /* Space between icon and input */
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  padding: 5px;
 
}
