
body{
  
 

}
.headerrrr{
    margin-top: 170px;
}
.renderpages{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}


@media screen and (max-width:600px) {
    body{
        margin-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
}