html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    margin-left: 20px;
    margin-right: 20px;
}
.headerEle{
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%; 
    
    display: flex;
    flex-direction: row;
    /* background-color: rgb(122, 6, 6);
    b */
    /* background-color: rgb(93, 5, 93);
     */
    background-color: #FFC300;
    color: black;
    justify-content: space-evenly;
    align-items: center;
    height: 85px;
}
.logo>img{
    margin-left: -40px;
    width:120px ;
    height:65px;
    /* border: 2px solid blue; */
    border-radius: 0px;
}
.logo>img:hover{
    transform: scale(1);
}
.div2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* justify-content:space-between; */
    align-items: center;
    /* column-gap: 55px; */
    background-color: white;
    color: black;
    /* margin: 8px; */
    border-radius: 100px;
    width: 50%;
    height: 45px;
   
}
.verticalLine{
    height: 25px;
    border: 0.1px solid rgb(168, 162, 162);
    /* margin-left: -100px; */
}
.headerform{
    /* border: 2px solid red; */
    width: 80%;
    display: flex;
    justify-content: space-between;
}
form>input{
    
    
    border: none;
    font-size: 16px;
    width: 100%;
    /* border: 2px solid red; */
}
input:focus{
    outline: none;
}


form>button{
    background-color:  #3B3F46;
    color: white;
    border: none;
    height: 55px;
    border-end-end-radius: 5px;
    border-top-right-radius: 5px;

    width: 130px;
    font-size: large;

    border-radius: 100px;
    height: 45px;
    margin-right: -32px;
  
    
 
    
}

form>button:hover{
    /* background-color: rgba(8, 134, 21, 0.847); */
    color: white;
}
div>p{
    font-size: 25px;
    margin-left: 10px;
    margin-top: 12px;
}
.bulkReq{
    border: none;
    height: 55px;
    border-radius: 5px;
    width: 195px;
    font-size: large;
    background-color: white;
    
}
.bulkReq:hover{
   transform: scale(0.95);
   transition-duration: 0.5s;
}
#header{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    /* border: 2px solid red; */
}

#header>button{
    /* background-color:  #170794; */
    /* color: white; */
    font-size: 12px;
    border: 0.5px solid rgb(27, 26, 26);
    height: 30px;
    /* width: 45px; */
    border-radius: 10px;
    /* border: none; */
}
#header>button:hover{
    /* background-color: rgba(8, 134, 21, 0.847); */
    color: white;
}

@media screen and (max-width:600px){
    .headerEle{
        width: 606px;
    }
    .logo{
        position: relative;
        font-size: 20px;
        margin-left: 15px;
        display: flex;
        text-align: center;
        
    }
    .div2{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;
        background-color: white;
        color: black;
        margin: 8px;
        border-radius: 5px;
        height: 55px;
        /* column-gap: 8px; */

    }
    input{
        margin-top: 10px;
        width: 75px;
        display: inline-flex;
        justify-content: left;
        font-size: 15px;
    }
    form>button{
        
        background-color: #3B3F46;
        border: none;
        height: 55px;
        border-end-end-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 20px;
        margin-left: 40px;
     
        
    }
    div>p{
        font-size: 20px;
        margin-left: 5px;
    }
    form{
        display: inline-flex;
    }
    .bulkReq{
        border: none;
        height: 55px;
        border-radius: 5px;
        width: 100px;
        font-size: 16px;
        background-color: white;
        margin-right: 25px;
    }
}


@media screen and (max-width:900px) and (min-width:600px) {
    /*add css for tablet screen size */
}