/* General Styles */
body {
    font-family: sans-serif;
  }
  
  /* Distributors Header */
  #distributors-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  #distributors-header h2 {
    margin: 0;
  }
  
  #see-distributors-button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Business List */
  .business-list {
    
    margin: 0;
    padding: 0;
    list-style: none;
   
  }
  
  .business-item {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  .business-item h3 {
    margin: 0;
  }
  
  .business-item p {
    margin-bottom: 5px;
  }
  #see-product-button {
   margin-left: 1200px;
    background-color: #a20c9d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    
    align-items: end;
  }