/* Settings Page Styles */
.content {
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.card-header {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: center; /* Centers items horizontally */
    gap: 150px;
}
.shop-image {
    width: 100px; /* Adjust size as needed */
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
}



.shop-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.shop-item {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
}

.shop-info {
    margin-bottom: 10px;
}

.shop-info p {
    font-size: 16px;
}

.btn-add, .btn-remove {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-add {
    background-color: #28a745;
    color: white;
}

.btn-add:hover {
    background-color: #218838;
}

.btn-remove {
    background-color: #dc3545;
    color: white;
}

.btn-remove:hover {
    background-color: #c82333;
}

.error {
    color: red;
    margin-bottom: 20px;
}
