.features{
    display: flex;
    flex-direction: column;
 
}
.clothes{
    margin-top: 90px;
}
.product-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
    
}
.dresses>img{
     margin-top: 10px;
     width: 80%; 
     height: 60%;
     display: flex;
     flex-direction: column;
     justify-content: center;
    
    /* border: 2px solid black; */
}
.dresses{
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgb(222, 211, 211);
  height: 300px;
  line-height: 15px;
  text-align: left;
}
.dresses>h2{
    margin-top: 15px;
    margin-left: 2px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    
}
.dresses>p{
    font-size: 14px;
    margin-top: 0px;
    margin-left: 2px;
}
.dresses>span{
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 2px;
    color: blue;
}

@media screen and (max-width:600px) {
    .product-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        /* width: max-content; */
        width: 550px;
       
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* grid-gap: 40px; */
        justify-content: center;
        align-items: center;
    }
    .dresses{
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 2px rgb(222, 211, 211);
        /* height: 280px; */
        line-height: 15px;
        text-align: left;
        width: 90%;
        
      }
}