
.btn{
    width: 65px;
    border: none;
   
}

.dropdown-menu{
    background-color: black;
    height: fit-content;
    border: none;
}
.dropdown-menu>li{

    line-height: 45px;

}
.List{
    display: flex;
    
    width:45px;
    height: 35px;
    border: 0.8px solid rgb(51, 47, 47);
    border-radius: 5px;
}